
/* Navigation */
a.navbar-brand.logocolor {
	color: #28a998;
}


/* Jumbothron */
.jumbotron {
	background: #FFFFFF url(../images/backimage.jpg) no-repeat top center;
	height: 400px;
}

.container-fluid {
	margin-top: -45px;
}

h1.my-jumbotron {
	color: #ffffff;
	position: relative;
}

h1.my-jumbotron span {
	color: #1caa99;	
}
p.my-jumbotron {
	color: #ffffff;
	position: relative;
}

.col-md-6.alignbox {
padding-left: 80px;
}


/* Jumbothron buttons */
.btn.btn-default.removebackgr {
	background-color: transparent;
	width: auto;
	height: auto;
	padding: 0;
}

.btn.btn-default.removebackgr.space {
	margin-left: 10px;
	margin-top: 10px;
}


/* Hide Jumbothron image (hand with phone) on small devices and tablets */

@media only screen and (max-width: 768px) {
.col-md-6.phone-hide {
display: none;
}
} 


@media only screen and (max-width: 970px) {
.col-md-6.phone-hide {
display: none;
}
} 
 
/* Thumbnails */

.container.photos {
	margin-top: 10px;
}


/* Gamma Features */
.container-fluid.green {
	background: #28aa99;
	margin-top: -5px;
	padding-top: 20px;
	padding-bottom: 20px;
}

ul.featurestext {
color: #ffffff;
font-size: 1.2em;
list-style-type: none;
}

h2.featurestext {
color: #ffffff;
font-size: 2em;
padding-left: 40px;
}

/* Footer */
.container.black {
	background: #333333;
	padding: 15px;
}

#footerlist li {
list-style: none;
display: inline-block;
padding-top: 20px;
padding-right: 20px;
}


#footerlist li a {
color: #ffffff;
}


#textwhite {
color: #ffffff;
padding-top: 20px;
float: right;
}

.fullwidth {
	max-width: 1700px;
	background: #333333;
}


/* Align footer text - view on small devices and tablets */

@media only screen and (max-width: 768px) {
.col-sm-6 p#textwhite {
float: left;
padding-left: 35px;
padding-top: 5px;
}
}